Dependencies/
*.user
*.obj
*.o
*.a
*.suo
*.opensdf
*.sdf
*.aps
*.rar
*.zip
*.7z
*.lnk
*.txt
*.cuo
*.mul
*.rle
*.idx
*.cfg
*.enu
*.rus
*.bat
*.exe
*.dll
*.def
*.ini
*.sc
*.iff
*.uop
*.pdb
*.sf2
/.vs
/.vscode
/Makefile*
/ipch
/Release
/Debug
/x64
/build/
/desktop
