version: 1.0.{build}
pull_requests:
  do_not_increment_build_number: true
clone_folder: c:\projects\crossuo
artifacts:
  - path: crossuo-win64-*.zip
image:
- Visual Studio 2017
- Visual Studio 2019 Preview
platform:
- x64
install:
- cd %APPVEYOR_BUILD_FOLDER%
init:
- echo %APPVEYOR_BUILD_WORKER_IMAGE%
- echo %APPVEYOR_REPO_TAG_NAME%
- set BUILD=master
- if NOT "%APPVEYOR_REPO_TAG_NAME%"=="" (set BUILD=v%APPVEYOR_REPO_TAG_NAME%)
- set version=
- if NOT "%APPVEYOR_REPO_TAG_NAME%"=="" (set version=-DXUO_DEPLOY=On -DXUO_VERSION=%APPVEYOR_REPO_TAG_NAME%)
- set extra=
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2017" ( set generator="Visual Studio 15 2017 Win64" )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2015" ( set generator="Visual Studio 14 2015 Win64" )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2019 Preview" ( set generator="Visual Studio 16 2019" )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2019 Preview" ( set extra=-A x64 )
- echo %generator%
- echo %BUILD%
- echo %version%
build_script:
- cmd: |-
    cmake --version
    mkdir build
    cd build
    cmake .. -G %generator% %extra% %version%
    cmake --build . --config Release
only_commits:
  files:
    - CMakeLists.txt
    - appveyor.yml
    - src/
    - tools/
    - common/
    - external/
    - xuocore/
    - CMake/
after_build:
  # if we are testing a pull request, we don't want to upload the build to the host
  - if DEFINED APPVEYOR_PULL_REQUEST_NUMBER (appveyor exit)
  - if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2015" (appveyor exit)
  - if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2019 Preview" (appveyor exit)
  - if "%CONFIGURATION%"=="Debug" (appveyor exit)
  - echo ** Compilation done. Packaging release files.
  - 7z a crossuo-win64-%BUILD%.zip "c:\projects\crossuo\build\src\Release\crossuo.exe" "c:\projects\crossuo\build\tools\xuoi\Release\xuolauncher.exe"
  - mv crossuo-win64-%BUILD%.zip ..
deploy:
  - provider: GitHub
    tag: master
    release: master
    auth_token:
      secure: SLomEHrGLqzU2qZzz1AzVNJYjH88TTkYWjebDB+Lj3qO6OU7gJwLEkNa3gJCPQ3/
    draft: false
    prerelease: false
    force_update: true
    on:
      branch: master
  - provider: GitHub
    tag: $(APPVEYOR_REPO_TAG_NAME)
    auth_token:
      secure: SLomEHrGLqzU2qZzz1AzVNJYjH88TTkYWjebDB+Lj3qO6OU7gJwLEkNa3gJCPQ3/
    draft: false
    prerelease: false
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
